@using global::App.Data
@inherits LayoutComponentBase

<FluentLayout Style="overflow: hidden">
    <FluentHeader Style="background-color: var(--neutral-layer-2);display: flex; align-items: center;">
        <div style="color: var(--neutral-foreground-rest); padding-top: 0.8rem">
            gcalc
        </div>
        <FluentSelect TOption="Workspace"
                      Items="@m_Workspaces"
                      Id="workspaces-listbox"
                      Width="250px"
                      Height="200px"
                      Placeholder="Select a workspace..."
                      OptionValue="@(p => p.Name.ToString())"
                      OptionText="@(p => p.Name)"
                      @bind-Value="@m_CurrentWorkspaceName"
                      @bind-SelectedOption="@m_CurrentWorkspace"
                      Style="margin: 0.5rem 1rem; height: 32px"/>
        <FluentButton Appearance="Appearance.Stealth" OnClick="@CreateNewWorkspaceAsync"
                      Title="Create new Workspace" aria-label="Settings" Style="aspect-ratio: 1/1; height: 32px; margin-right: 0.5rem">
            <FluentIcon Value="@(new Icons.Regular.Size24.FormNew())" Color="Color.Neutral"/>
        </FluentButton>
        <FluentButton Appearance="Appearance.Stealth" OnClick="@ImportWorkspaceAsync"
                      Title="Import Workspace" aria-label="Settings" Style="aspect-ratio: 1/1; height: 32px">
            <FluentIcon Value="@(new Icons.Regular.Size24.DocumentArrowDown())" Color="Color.Neutral"/>
        </FluentButton>
        <FluentSpacer />
        <FluentButton Appearance="Appearance.Stealth" OnClick="@LaunchSettingsAsync"
                      Title="Settings" aria-label="Settings" Style="aspect-ratio: 1/1; height: 32px">
            <FluentIcon Value="@(new Icons.Regular.Size24.Settings())" Color="Color.Neutral"/>
        </FluentButton>
    </FluentHeader>

    <FluentStack Orientation="Orientation.Horizontal" Width="100%">
        <FluentAppBar Orientation="@(m_Vertical ? Orientation.Vertical : Orientation.Horizontal)"
                      Style="@(" background-color: var(--neutral-layer-2);")" PopoverVisibilityChanged="HandlePopover"
                      PopoverShowSearch="@m_ShowSearch">

            <FluentAppBarItem Href="/"
                              Match="NavLinkMatch.All"
                              IconRest="@(new Icons.Regular.Size24.Home())"
                              IconActive="@(new Icons.Filled.Size24.Home())"
                              Text="Overview"/>
            <FluentAppBarItem Href="/calc"
                              Match="NavLinkMatch.All"
                              IconRest="@(new Icons.Regular.Size24.Calculator())"
                              IconActive="@(new Icons.Filled.Size24.Calculator())"
                              Text="Calculator"/>
            <FluentAppBarItem Href="/graph"
                              Match="NavLinkMatch.All"
                              IconRest="@(new Icons.Regular.Size24.ChartMultiple())"
                              IconActive="@(new Icons.Filled.Size24.ChartMultiple())"
                              Text="Graph"/>
        </FluentAppBar>


        <FluentBodyContent Style="overflow: scroll; padding: 0.8rem 0 48px;">
            @Body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorum enim laudantium quis sapiente. Accusamus, accusantium aut, consequatur dolor modi nam nostrum obcaecati odit praesentium quis rerum, vel veniam voluptatum! Adipisci asperiores aspernatur at beatae delectus deserunt dolor doloribus dolorum ducimus eaque est eveniet illo ipsam labore libero minima nam neque nulla odio odit officia perspiciatis porro, possimus provident quae quam quia quidem repudiandae sapiente sunt tempore vel velit vero. Accusamus animi architecto at atque autem cum doloribus dolorum ea eaque error esse et expedita explicabo hic, id inventore maxime nisi numquam odio quas quasi quidem quisquam reiciendis repellendus reprehenderit unde velit veniam vitae voluptates voluptatibus. Ab alias consequatur dolorum eligendi esse excepturi fuga impedit inventore ipsum iusto molestiae omnis, possimus quaerat qui ratione repudiandae sequi similique tenetur. Atque blanditiis esse possimus. Atque aut blanditiis corporis dicta earum eius eos ex ipsum iure libero maiores odio quaerat quam quidem quo, quos soluta sunt, totam. Accusantium assumenda, debitis ea ipsa modi nostrum numquam odit perspiciatis quae veniam. Adipisci aperiam atque consectetur culpa cumque dignissimos esse, eum ex incidunt laboriosam minima natus omnis optio praesentium recusandae saepe suscipit, tenetur vero voluptas voluptatem! Accusamus aperiam dolor dolore expedita, fugit illum libero nam officia officiis pariatur quam quod sequi soluta. Accusantium autem cum dolorum hic, incidunt necessitatibus non quae sapiente? Commodi consectetur, delectus doloremque eum facilis illo illum inventore libero minima minus nihil nostrum optio praesentium provident quas repellendus reprehenderit saepe temporibus vel voluptatem. Accusantium ad, dicta doloremque, dolores dolorum eaque earum est ex iste labore natus nemo nesciunt non pariatur praesentium quis quisquam reprehenderit sapiente unde voluptates! Asperiores culpa debitis delectus distinctio doloremque eaque excepturi, impedit iure nobis non numquam provident, quibusdam ratione sed tempore. Cupiditate, facilis hic? Alias autem, cumque delectus distinctio ea eligendi eos eum facere inventore iste laborum, modi molestiae nam nemo nobis porro praesentium quae quaerat quisquam rerum similique tenetur vel? Deserunt error et eveniet iusto odit porro, quo tenetur ut? Adipisci aliquid aspernatur atque aut blanditiis culpa distinctio dolor dolores eos excepturi explicabo in libero minus molestiae nesciunt nostrum porro praesentium provident, similique soluta tempore temporibus vitae voluptas! Accusantium aspernatur atque autem distinctio dolores error esse facere illo quis repellendus rerum similique, unde, ut voluptate voluptatibus! Cupiditate dicta earum ex necessitatibus quia, totam vero. Alias aliquid consectetur corporis cum eius eos est ex fuga, fugit non numquam, pariatur placeat sequi sint totam? Aliquid asperiores aspernatur aut consequatur corporis dolorum eos est eum exercitationem hic, itaque iure iusto laborum, modi molestias natus nisi numquam officiis optio quam quas quasi quia quidem recusandae rem sapiente sit suscipit temporibus totam veniam? Accusantium aut consequuntur cumque deleniti dignissimos doloremque dolorum eos et eveniet ex fuga fugit illum incidunt itaque iusto laborum magnam maiores maxime molestiae necessitatibus nobis, nostrum officiis optio pariatur possimus provident quaerat quisquam ratione repellendus repudiandae sed ullam vero voluptas! Atque, blanditiis earum facere id, in incidunt magni nesciunt quae, quibusdam repellendus totam vero. Accusamus alias amet aspernatur delectus earum in incidunt iste magnam nemo, placeat praesentium quas quo sint tempora tenetur totam veritatis? Ad, asperiores dolor, doloremque doloribus facilis iure molestias necessitatibus odit provident quisquam ullam vel voluptatibus voluptatum. Accusantium, eveniet, nobis? Consequatur dicta dignissimos doloremque ea non quia rem sint? Ab asperiores aspernatur autem deleniti doloremque et excepturi expedita explicabo facilis laboriosam magnam minus nemo neque non omnis optio, porro quos reiciendis rem saepe similique soluta tempore totam voluptate voluptatem. Alias amet aperiam architecto dolorum eius in ipsam mollitia quod, reiciendis saepe similique veniam? Enim natus omnis quasi soluta voluptates! Architecto consequuntur earum laudantium quo? Asperiores debitis dolorem dolores dolorum enim hic incidunt inventore labore minima molestiae nisi quod, sed suscipit velit voluptates. Amet asperiores, assumenda deleniti dignissimos distinctio doloribus, dolorum eligendi enim esse et ex exercitationem explicabo fuga id illum incidunt ipsa ipsam laudantium modi mollitia necessitatibus nihil omnis perspiciatis porro possimus provident quam quasi quia reiciendis repellendus repudiandae rerum sit tempore unde veritatis voluptatem voluptatum? Consequuntur deserunt dignissimos distinctio dolore eaque, fugiat illo ipsa, iusto laborum magni maiores nemo neque non, numquam pariatur quia quibusdam quos saepe sequi similique temporibus veritatis voluptates voluptatum. Assumenda culpa cum ex inventore sed. A aliquid cum deleniti dolor ea eaque, enim eos esse est exercitationem facilis illo ipsam iste iusto molestias nostrum officiis placeat quam quas, quia quibusdam quos, rem rerum velit voluptatem. Dolor dolorum officia repellendus. Autem dolorum esse molestiae odio officia omnis recusandae voluptas voluptatibus? Aliquid blanditiis ex fugiat maiores necessitatibus neque provident sed sit soluta. A asperiores blanditiis deserunt illo ipsum magnam, qui, quo ratione, recusandae rerum sint totam voluptas voluptatum! A aut dolores ducimus eligendi nulla quidem rem, voluptas voluptatum. Aliquam autem corporis deleniti ea expedita fugit iste laboriosam libero molestiae odit placeat praesentium provident recusandae rem sapiente, sint tempore voluptas. Animi architecto aspernatur beatae cumque ex exercitationem inventore magnam molestias odit officia pariatur porro rem repudiandae soluta tenetur, totam vitae voluptas. Asperiores beatae debitis deserunt dolorem doloremque dolores dolorum earum explicabo fugit harum illo impedit in incidunt ipsa libero magnam maxime minima modi, molestiae mollitia necessitatibus neque nobis nostrum obcaecati perspiciatis placeat quidem quod ratione sint sit tenetur ut velit voluptatibus! Accusantium aperiam autem impedit nam quas quo recusandae voluptatum! Commodi enim, error fugit hic illum nesciunt qui ut voluptates! A nemo totam vitae? Amet earum itaque quam totam unde. Consectetur deserunt iste quo! Exercitationem ipsa non perferendis tempore. Asperiores assumenda commodi consequuntur deleniti dolores est et in inventore ipsum iusto laboriosam nam neque nihil nobis, pariatur placeat praesentium quas qui quibusdam quod quos ratione rem voluptate! Aliquam deserunt doloribus harum inventore molestiae quod repellendus voluptatem voluptates! Accusamus, animi culpa doloribus enim expedita id, labore minus praesentium qui quod repellendus, vero vitae. Aliquid aperiam culpa dolorem ea enim est et ex exercitationem, harum iure maxime molestiae molestias nisi non officia optio pariatur praesentium provident quod recusandae repellendus saepe sequi sint ullam voluptatum. Ab, animi aperiam aut commodi delectus deserunt distinctio dolore dolorum eveniet facilis inventore ipsum laborum libero magni, necessitatibus non possimus quam qui quos rem repellendus sapiente tempora voluptatibus! Excepturi facere ipsum libero rerum.
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>


<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>
<FluentDesignTheme Mode="DesignThemeModes.Dark" OfficeColor="OfficeColor.Windows" />

@code {
    private bool m_Vertical = true;
    private bool m_ShowSearch = true;

    private List<Workspace> m_Workspaces = [ new Workspace() {Name = "Test 1"}, 
                                             new Workspace() {Name = "Test 2"},
                                             new Workspace() {Name = "Test 3"},
                                             new Workspace() {Name = "Test 4"},
                                             new Workspace() {Name = "Test 5"},
                                             new Workspace() {Name = "Test 6"},
                                             new Workspace() {Name = "Test 7"},
                                             new Workspace() {Name = "Test 8"},
                                             new Workspace() {Name = "Test 9"},
                                             new Workspace() {Name = "Test 10"}];
    private Workspace? m_CurrentWorkspace;
    private string? m_CurrentWorkspaceName;

    private void HandlePopover(bool visible)
    {
    }

    private Task LaunchSettingsAsync()
    {
        throw new NotImplementedException();
    }

    private Task CreateNewWorkspaceAsync()
    {
        throw new NotImplementedException();
    }

    private Task ImportWorkspaceAsync()
    {
        throw new NotImplementedException();
    }

}